body{
    background-color: #1d2124;
    font-family: 'Alegreya Sans', sans-serif;
}

.hero{
    background: no-repeat;
    width:100%;
    height: 100%;

}
.under{
    text-decoration: underline;
}
.card-size{
    width: 20rem;
}